* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* testimonials section */


.light-btn{
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  background-color: black;
  color: #fff;
}

.wrapper-light{
   display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  background-color: #fff;
  color: black;
}

.container {
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
  gap: 20px;
  padding: 40px 0 40px;
}

.container > * {
  flex: 1 1 50%;
  padding: 20px;
  border-radius: 10px;
}

/* Image for the card */

.card-image img {
  max-width: 100%;
}

.cards-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cards-info h4 {
  font-size: 1rem;
  color: rgb(10, 170, 98);
}

.cards-info h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.cards-info p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.cards-info button {
  padding: 10px 20px;
  border: none;
  background-color: rgb(10, 170, 98);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.cards-info button .light-btn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.cards-info button:hover {
  background-color: aliceblue;
}

.cards-info a {
  text-decoration: none;
  color: white;
}

.cards-info a:hover {
  color: rgb(10, 170, 98);
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .container > * {
    width: 80%;
  }

  .cards-info {
    text-align: center;
  }

  .card-image {
    text-align: center;
  }
}
